{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Mavzular</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Mavzu nomi</th>
          <th>Havolalar</th>
          <th>Ko'chirib olish</th>
        </tr>
      </thead>
      {% for i in books %}
      <tr>

        <td> {{i.books_name}}</td><br>
        <td>
          <a href="https://www.geogebra.org/math/geometry" target="_blank">Geogebra.org</a>
        </td>
        <td><a target="_blank" href="/media/{{i.field_name}}">Yuklab olish</a></td>

      </tr>
      {% endfor %}
    </table>

    <div class="panel-heading" style="margin-top: 20px">
      <h6 class="panel-title">Videolar</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Video nomi</th>
        </tr>
      </thead>
      <tr>
        <td>
          <a href="https://www.youtube.com/watch?v=qU9RGAFaO7k" target="_blank">Geometrik yasashlar</a>
        </td>

      </tr>
      <tr>
        <td>
          <a href="https://www.youtube.com/watch?v=Z9sE4U3xdYg" target="_blank">Parallel kesmalarni chizish</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.youtube.com/watch?v=78Uygae-5p4" target="_blank">Geometrik yasashlar: perpendikulyar mediana </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.youtube.com/watch?v=b19xGIgdniQ" target="_blank">Geometrik yasashlar: burchak bissektrisasi</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.youtube.com/watch?v=4WFmv5WQK6M" target="_blank">Geometrik yasashlar: perpendikulyar chiziq </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}