{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mavzular</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Mavzular</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Nazariy ma'lumotlar</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Video dars</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <div class="post">
                        {{book.content | striptags | safe | escape}}
                    </div>

                    <div class="post">
                      <a href="{{ book.field_name.url }}" target="_blank">
                        Faylni yuklab olish
                      </a>
                    </div>

                    <div >
                      <a href="{{book.geogebra_link}}" target="_blank">Geogebra.org</a>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <div class="col-lg-12 col-md-12 mb-4 text-center">
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe src="https://www.youtube.com/embed/Ko3zo2M22Mc" title="YouTube video" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock content %}
