{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mavjud kurslar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Bosh sahifa</a></li>
              <li class="breadcrumb-item active">Mavjud kurslar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
            {% for t in courses %}
            <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">

                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-6">
                      <h4 class="text-info"><b>{{t.course_name}}</b></h4>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="mb-2 text-warning"><span class="fa-li">
                            <i class="fas fa-lg fa-question"></i>
                          </span> Savollar soni: {{t.question_number}}</li>
                          <li class="text-warning"><span class="fa-li">
                            <i class="fas fa-lg fa-certificate"></i></span> Umumiy ball: {{t.total_marks}}
                          </li>
                      </ul>
                    </div>
                    <div class="col-6 text-center">
                      <img src="{{t.course_image.url}}" alt="user-avatar" class="img-fluid" width="100%">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="{% url 'take-exam' t.id  %}" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> Imtixonda qatnashish
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock content %}
