{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ballarni ko'rish</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ballarni ko'rish</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
          <div class="col-md-12">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Imtihon nomi</th>
                      <th>Harakat</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for t in data %}
                    <tr>
                      <td>{{t.course.course_name}}</td>
                      <td>
                        <a class="btn btn-success btn-sm"
                           href="{% url 'check-marks' t.course.id  %}">
                            <span class="fa fa-eye"></span>
                            Ballarni ko'rish
                        </a>
                      </td>
                      <td>
                        {% if t.result %}
                          <a class="btn btn-danger btn-sm"
                             href="{% url 'delete-question2' t.result.id  %}"><span class="fa fa-trash"></span></a>
                          {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
          <!-- /.col -->
        </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock content %}
