{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mening ballarim</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ballarni ko'rish</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
          <div class="col-md-12">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Kurs</th>
                      <th>Jami ball</th>
                      <th>Urinishlar soni</th>
                      <th>Imtihon sanasi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for t in results %}
                    <tr>
                        <td> {{t.exam}}</td>
                        <td> {{t.marks}}</td>
                        <td>Urinish {{ forloop.counter }}</td>
                        <td> {{t.date}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
          <!-- /.col -->
        </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock content %}
