{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mavjud kurslar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Mavjud kurslar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
              <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="/student/calculate-marks" method="POST">
                {% csrf_token %}
                <h2 style="text-align: center;">Kurs: {{course.course_name}}</h2>
                {% for q in questions%}
                    <p class="text-danger">
                        {{ forloop.counter }}. {{q.question}}</p>
                        {% csrf_token %}
                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option1}}" value="variant 1">
                        <label class="form-check-label" for="q.option1">
                          {{q.option1}}
                        </label>
                      </div>

                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option2}}" value="variant 2">
                        <label class="form-check-label" for="q.option2">
                          {{q.option2}}
                        </label>
                      </div>

                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option3}}" value="variant 3">
                        <label class="form-check-label" for="q.option3">
                          {{q.option3}}
                        </label>
                      </div>

                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{q.option4}}" value="variant 4">
                        <label class="form-check-label" for="q.option4">
                          {{q.option4}}
                        </label>
                      </div>
                  <hr>
                    {% endfor %}
                    <input class="btn btn-success btn-lg"  type="submit" value="Javoblarni yuborish">
              </form>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
  <script>
    function saveAns(){
        var ele = document.getElementsByTagName('input');
        for(i = 0; i < ele.length; i++) {
            if(ele[i].type="radio") {
                if(ele[i].checked){
                  setCookie(ele[i].name,ele[i].value,3)
                }
            }
        }

    }
    function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
</script>
    <!-- /.content -->
{% endblock content %}
