{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mavzular</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Mavzular</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12" id="accordion">
                {% for i in books %}
                    <div class="card card-primary card-outline">
                        <a class="d-block w-100" href="{% url 'books-detail' i.pk %}">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    {{i.books_name}} {{i.pk}}
                                </h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock content %}
