{% extends 'student/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mavjud kurslar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Mavjud kurslar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
              <div class="card-body text-default">
                    <h4 class="card-title">Imtihon tafsilotlari :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Kurs : {{course.course_name}}</li>
                            <li>Jami Savollar : {{total_questions}}</li>
                            <li>Jami ballar : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Qoidalar :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Barcha savollar KTS (ko'p tanlovli savol)</li>
                            <li><span class="text-danger">Berilganlardan faqat bitta tanlov to'g'ri.</span></li>
                            <li>Har bir savol turli ballarga ega.</li>
                            <li>To'g'ri javob berishga harakat qiling.</li>
                            <li>Agar siz yangilashni bossangiz yoki oldingi sahifaga qaytsangiz, siz uchun yangi savol paydo bo'ladi va siz bergan savol urinishlar soni sifatida hisoblanadi.</li>
                            <li>Savollar tasodifiy taqdim etiladi.</li>
                            <li>Javobni yuborganingizdan so'ng darhol ballarni ko'rishingiz mumkin bo'ladi.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-success">Imtihonga kiring</a>
                </div>
                <div class="card-footer">Omad tilaymiz, talabalar!</div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock content %}
