{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

















    </style>
</head>
<br><br>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h6 class="panel-title">Mavjud kurslar</h6>
        </div>

        {% for t in courses %}
        <div class="container" style="padding: 30px;">
<!--            <div class="row">-->
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="card bg-c-blue order-card">
                        <div style="background: #04868f;width: 425px; height: 124px;  border-radius: 7px;display: flex; justify-content: flex-start;">
                            <div style="    padding: 20px; font-size: 30px;">
                                <h4 style="color: white;"> {{t.course_name}}</h4> <i style="color: white;"
                                                                                     class="fas fa-book f-left"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-xl-6">
                    <a
                            href="{% url 'take-exam' t.id  %}">
                        <div class="card bg-c-blue order-card">
                            <div style="background: #04868f;width: 425px; height: 124px;  border-radius: 7px;display: flex; justify-content: flex-start;">
                                <div style="background: #5cb85c;color: white; width: 425px; height: 124px;  border-radius: 7px; padding: 20px;">
                                    <div>
                                        <h4>
                                            Imtihonda
                                            qatnashish

                                        </h4>
                                    </div>
                                    <div>
                                        <span style=" font-size: 28px;" class="glyphicon glyphicon-check"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
<!--                </div>-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}