{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-default">
                    <h4 class="card-title">Imtihon tafsilotlari :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Kurs : {{course.course_name}}</li>
                            <li>Jami Savollar : {{total_questions}}</li>
                            <li>Jami ballar : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Qoidalar :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Barcha savollar KTS (ko'p tanlovli savol)</li>
                            <li><span class="text-danger">Berilganlardan faqat bitta tanlov to'g'ri.</span></li>
                            <li>Har bir savol turli ballarga ega.</li>
                            <li>To'g'ri javob berishga harakat qiling.</li>
                            <li>Agar siz yangilashni bossangiz yoki oldingi sahifaga qaytsangiz, siz uchun yangi savol paydo bo'ladi va siz bergan savol urinishlar soni sifatida hisoblanadi.</li>
                            <li>Savollar tasodifiy taqdim etiladi.</li>
                            <li>Javobni yuborganingizdan so'ng darhol ballarni ko'rishingiz mumkin bo'ladi.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-success" style="border-radius:0px;">Imtihonga kiring</a>
                </div>  
                <div class="card-footer">Omad tilaymiz, talabalar!</div>
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}