{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Ballarni ko'rish</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Imtihon nomi</th>
          
          <th>Harakat</th>
        </tr>
      </thead>
       {% for t in data %}
            <tr>

                <td> {{t.course.course_name}}</td>

                <td>
                    <a class="btn btn-success btn-sm" style="border-radius:0px;"
                       href="{% url 'check-marks' t.course.id  %}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        Ballarni ko'rish
                    </a>
                <td>
                    {% if t.result %}
                    <a class="btn btn-danger btn-sm" style="border-radius: 0%;"
                       href="{% url 'delete-question2' t.result.id  %}"><span class="	glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}