{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center;">Savol qo'shish</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        <label for="question">Kurslar</label>
      {% render_field questionForm.courseID|attr:'required:true' class="form-control"  %}
        <br>

      <label for="question">Savollar</label>
      {% render_field questionForm.question|attr:'required:true' class="form-control" placeholder="Misol: Quyidagilardan qaysi biri prototiplash modelining bosqichi emas?" %}
        <br>
      <label for="question_number">Ball</label>
      {% render_field questionForm.marks|attr:'required:true' class="form-control" placeholder="Misol: 5" %}
        <br>
      <label for="option1">Variant 1</label>
      {% render_field questionForm.option1|attr:'required:true' class="form-control" placeholder="Misol: Dizayn" %}
        <br>
      <label for="option2">Variant 2</label>
      {% render_field questionForm.option2|attr:'required:true' class="form-control" placeholder="Misol: Kodlash" %}
        <br>
      <label for="option3">Variant 3</label>
      {% render_field questionForm.option3|attr:'required:true' class="form-control" placeholder="Misol: Prototipni takomillashtirish" %}
        <br>
      <label for="option4">Variant 4</label>
      {% render_field questionForm.option4|attr:'required:true' class="form-control" placeholder="Misol: Muhandis mahsuloti" %}
        <br>
      <label for="answer">To'g'ri javob</label>
      {% render_field questionForm.answer|attr:'required:true' class="form-control" %}
    </div>
    

    <button type="submit" class="btn btn-success" style="border-radius:0px;">Submit Question</button>
  </form>
<br><br><br>
{% endblock content %}
