<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #212529;
    border-radius: 15px;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #838383;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s
}

.box h1 {
    color: white;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #4caf50;
}

.box input[type="submit"] {
    border: 0;
    background: #4caf50;
    display: block;
    margin: 20px auto;
    text-align: center;
    
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #347736;
}


    </style>
  </head>
  <body style="height: 665px;">
    {% include "exam/navbar.html" %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post">
                    {% csrf_token %}
                    <h1>Administratorga kirish paneli</h1>

                     {% render_field form.username class="form-control" autocomplete="off" placeholder="Foydalanuvchi nomi" %}
                     {% render_field form.password class="form-control" autocomplete="off" placeholder="Parol" %}

                     <input type="submit" name="" value="Adminga kirish">

                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
{% include "exam/footer.html" %}
  </body>
</html>
