{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center;">Kurs qo'shing</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
      <label for="course_name">Kurs nomi</label>
      {% render_field courseForm.course_name class="form-control" placeholder="Misol: Dasturiy taminot muhandisligi" %}

      <label for="question_number">Jami savollar</label>
      {% render_field courseForm.question_number class="form-control" placeholder="Misol: 50 " %}

      <label for="total_marks">Jami ball</label>
      {% render_field courseForm.total_marks class="form-control" placeholder="Misol: 100" %}
    </div>
    

    <button type="submit" class="btn btn-success" style="border-radius:0px;">Kurs haqida malumot qo'shish</button>
  </form>

<br><br><br>
{% endblock content %}
