<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Biz bilan bog'lanish uchun anketani to'ldiring</h3>

    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Submit" class='btn btn-primary' style="border-radius: 0%;">
      </div>
    </form>
  </center>

  {% include "exam/footer.html" %}
</body>

</html>
