<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <style media="screen">
    .jumbotron {
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>
  <div class="jumbotron">
    <h1 class="display-4">Xabaringiz muvaffaqiyatli yuborildi!</h1>
    <p class="lead">Fikr-mulohazangizga tez orada javob beramiz</p>
    <hr class="my-4">
    <p>Web-saytning boshqa xususiyatlarini tekshiring!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Bosh sahifa</a>
    </p>
  </div>

  {% include "exam/footer.html" %}
</body>

</html>
