<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">


<body>
<video style="position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;" autoplay muted loop id="myVideo">
    <source src="media/profile_pic/image/course-video.mp4" type="video/mp4">
</video>
{% include "exam/navbar.html" %}

<br>
<!--  class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center"-->
<section id="section-jumbotron" style="padding-top: 35px; position: fixed;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height:100%;
">

    <div class="container text-center">
        <h2 class="display-3 text-info">O'quvchilarning konstruksiyalashga oid kompetensiyalarini rivojlantirish</h2>
        


        
        <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i
                class="fa fa-graduation-cap" aria-hidden="true"></i> O'quvchi sifatida ro'yxatdan o'ting</a>

        <br><br><br>
    </div>
</section>
<script>
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBtn");

// Pause and play the video, and change the button text
function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}


</script>
{% include "exam/footer.html" %}


</body>

</html>
