{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center">Tizimdan muvaffaqiyatli chiqdi. <br> Tizimimizdan foydalanganingiz uchun tashakkur!</h2>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "exam/footer.html" %}

  </body>
</html>
