<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;

    }
    .bg-dark {
    background-color: #212529!important;
}
    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    }
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: #212529;">
    <a style="color: #ffffff;text-decoration: none; " href="/"><font face = "verdana" size =" 5">O'quvchilarning konstruksiyalashga oid kompetensiyalarini rivojlantirish</font><br /></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
    
        </div>

        <div class="navbar-nav">
          <a style="padding-left: 30px;" href="/" class="nav-item nav-link"> Bosh sahifa</a>

          <a href="/student/studentclick" class="nav-item nav-link">O'quvchi</a>
          <a href="/adminclick" class="nav-item nav-link">Admin</a>
          <a href="/contactus" class="nav-item nav-link">Bog'lanish</a>
          
        </div>




      </div>
    </nav>
  </div>


</body>

</html>
