{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
  <style media="screen">
    input[type=text], select,input[type=number] ,input[type=password], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }


  </style>


</head>

<br><br>
<h2 style="text-align:center;">O'qituvchini yangilash</h2>
<div>
  <form method="post"  autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
        <label for="first_name">Ism</label>
        {% render_field userForm.first_name class="form-control" placeholder="Ism" %}
        <label for="last_name">Familya</label>
        {% render_field userForm.last_name class="form-control" placeholder="Familya" %}
          <label for="mobile">Tell</label>
          {% render_field teacherForm.mobile class="form-control" placeholder="tell" %}
            <label for="address">Manzil</label>
          {% render_field teacherForm.address class="form-control" placeholder="Manzil" %}
          
        <label for="username">Foydalanuvchi nomi</label>
        {% render_field userForm.username class="form-control" placeholder="Foydalanuvchi nomi" %}
          <label for="password">Parol</label>
        {% render_field userForm.password class="form-control" placeholder="Parol" %} <br><br>
        <label for="profile_pic">Foydalanuvchi rasmi</label>
          {% render_field teacherForm.profile_pic class="form-control" placeholder="Foydalanuvchi rasmi" %}
<br><br>
    <input type="submit" value="Update" style="border-radius:0px;">
  </form>
</div>



<br><br><br><br><br><br><br><br>
{% endblock content %}
