<!DOCTYPE html>
{% load widget_tweaks %}


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <body>
    {% include "exam/navbar.html" %}

      <div class="jumbotron" style="margin-top: 0px;
        margin-bottom: 0px;">
        <h1 class="display-4">Salom! {{request.user.first_name}},</h1>
        <p class="lead">Sizning akkauntingiz hali <b>TASDIQLANMAGAN</b> ! <br><br>Administratordan ruxsat kutilmoqda <br><br>tez orada siz hisobingiz tasdiqlanandi va Hisobingizga kira olasiz!</p>
        <hr class="my-4">
       
        <p class="lead">
          <a class="btn btn-danger btn-lg" href="/logout" style="border-radius: 0%;" role="button">Logout Now</a>
        </p>
      </div>

{% include "exam/footer.html" %}
  </body>
</html>
