{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

  a:link {
        text-decoration: none;
      }
    



    </style>
</head>
<h2 style="text-align:center; ">Kurs ma'lumotlarini qo'shing</h2>

<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="form-group">
        <label for="books_name">Mavzu nomi</label>
        {% render_field booksForm.books_name class="form-control" placeholder="Misol: Maumotlar bazasi" %}
        <label for="field_name">Ktob nomi</label>
        {% render_field booksForm.field_name %}

    </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Ma'lumotni yuborish</button>
</form>
<br><br><br>
{% endblock content %}
