<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;height:615px;">
    <h1 class="display-4">Salom Ustoz,</h1>
    <p class="lead">O'quvchilarning konstruksiyalashga oid kompetensiyalarini rivojlantirish tizimiga xush kelibsiz</p>
    <hr class="my-4">
    <p>Tizimga kirish uchun ulardan birini tanlang</p>
    <p class="lead">
      <a class="btn btn-primary" style="border-radius:0px;" href="teachersignup" role="button">Hisob qaydnomangizni yarating</a>
      <a class="btn btn-success" style="border-radius:0px;" href="teacherlogin" role="button">Hozir kiring</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "exam/footer.html" %}
</body>

</html>
